<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center"><%= t('.ログイン') %></h1>
    <hr>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.email_field :username, autofocus: true, placeholder: 'ユーザネーム', class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :ユーザ情報を記憶する %>
        </div>
      <% end -%>

      <div class="form-group">
          <%= f.submit ('ログイン'), class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>